#gameboardSection {
    display: grid;
    width: 500px;
    height: 500px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
.tile {
    color: white;
    background-color: black;
    border: 1px solid white;
    font-size: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.clicked {
    background-color: brown;
    color: white;
}